.background_div {
  width: 480px;
  height: 400px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.text_div {
  padding: 1rem 1rem;
  text-align: center;
}
.text_div h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 28px;
  letter-spacing: 1px;
}
.text_div p {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  color: gray;
  letter-spacing: 1px;
  margin-top: -15px;
}
.input_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
 
}
.center {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
}
.input_main {
  width: 280px;
  /* height: 40px; */
  border: none;
 
}
.input_main:focus {
  outline: none;
}
.btn_div,.forget_pass,.img_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_btn {
  width: 70%;
  height: 38px;
  outline: none;
  color: #ccc;
  border: none;
  background-color: #4c32a8;
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  border-radius: 5px;
}
.forget_pass {
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  letter-spacing: 1px;
}
.rotate_360 {
  animation: rotate 4s linear infinite;
  /* Adjust the duration and timing function as needed */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width:550px) {
  .background_div {
    width: 300px;
    height: 380px;
  }
}

